In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [3]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)
data.head()

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015

In [ ]:
data.describe()

# Answers

In [5]:
answers = {'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': 110,
 '5': 107.0,
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': 1478,
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': 2015,
 '25': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '27': ('Daniel Radcliffe', 'Rupert Grint'),
 '21': 'September',
 '20': 2014,
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave'} 


data['profit']=data['revenue']-data['budget']

# 1. Which movie on the list has the largest budget?

In [ ]:
data[data.budget==data.budget.max()].original_title
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides'

# 2. Which movie has the longest duration(in minutes)?

In [ ]:
data[data.runtime==data.runtime.max()].original_title
answers['2'] = 'Gods and Generals'

# 3. Which movie is the shortest (in minutes)?

In [ ]:
data[data.runtime==data.runtime.min()].original_title
answers['3'] = 'Winnie the Pooh'

# 4. What is the average duration movies?

In [ ]:
answers['4']=round(data.runtime.mean())

# 5. What is the median duration of movies?

In [ ]:
answers['5']=data.runtime.median()

# 6.  What is the most profitable movie?

In [10]:
data[data.profit==data.profit.max()].original_title

239    Avatar
Name: original_title, dtype: object

In [ ]:
answers['6']='Avatar'

# 7. Which movie is the most unprofitable?

In [ ]:

data[data.profit==data.profit.min()].original_title

In [ ]:
answers['7']='The Lone Ranger'

# 8. How many movies from the dataset had higher revenue than budget?

In [12]:
answers['8']=len(data[data.profit>0])

# 9. What was the highest grossing movie in 2008?

In [ ]:
data[data['revenue'] == data[(data.release_year==2008)].revenue.max()].original_title

In [ ]:
answers['9']='The Dark Knight'

# 10. The most unprofitable movie from 2012 to 2014 (inclusive)?

In [ ]:
data[data.profit==data[(data.release_year>=2012)&(data.release_year<=2014)].profit.min()].original_title

In [ ]:
answers['10']='The Lone Ranger'

# 11. What is the most popular movie genre?

In [ ]:

answers['11']=pd.Series(data['genres'].str.cat(sep='|').split('|')).value_counts().head(1).index[0]

# 12. What genre movies are the most often profitable?

In [ ]:
data_gen=data[profit>0]
data_gen
answers['12']=pd.Series(data_gen['genres'].str.cat(sep='|').split('|')).value_counts().head(1).index[0]

# 13. Which director has the highest total box office receipts?

In [ ]:
answers['13']=data.groupby(['director'])['revenue'].sum().sort_values(ascending=False).head(1).index[0]

# 14. Which director has made the most Action movies?

In [ ]:
import collections
act = data[data.genres.str.contains('Action')]
answers['14']=collections.Counter(act['director'].str.cat(sep = '|').split('|')).most_common(1)[0][0]

# 15. Films with which actor brought the highest box office in 2012?

In [ ]:
data2012 = data[data.release_year == 2012].copy()
data2012['cast']=data2012['cast'].str.split('|')
cast2012=data2012.explode('cast')
answers['15']=cast2012.groupby(['cast'])['revenue'].sum().sort_values(ascending=False).head(1).index[0]

# 16. Which actor starred in high-budget films more frequently?

In [ ]:
answers['16']=collections.Counter(data[data.budget>data.budget.mean()]['cast'].str.cat(sep = '|').split('|')).most_common(1)[0][0]

# 17. What genre has Nicolas Cage starred in the most?

In [ ]:
answers['17']=collections.Counter(data[data.cast.str.contains('Nicolas Cage')]['genres'].str.cat(sep = '|').split('|')).most_common(1)[0][0]

# 18. The most unprofitable film from Paramount Pictures

In [ ]:
data[data.profit==data[data.production_companies.str.contains('Paramount Pictures')].profit.min()].original_title

In [ ]:
answers['18']='K-19: The Widowmaker'

# 19. What was the most successful year in terms of total box office receipts?

In [ ]:
data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False).head(1)
answers['19']=2015

# 20. What was the most profitable year for Warner Bros.?

In [ ]:
dataW=data[data.production_companies.str.contains('Warner Bros')]
answers['20']=dataW.groupby(['release_year'])['profit'].sum().sort_values(ascending=False).head(1).index[0]

# 21. In which month for all years the most films were released in total?

In [ ]:
import calendar
data['month'] = pd.DatetimeIndex(data['release_date']).month
#data.groupby(['month']).original_title.agg('count').sort_values(ascending=False).head(1).index[0]
answers['21']=calendar.month_name[data.groupby(['month']).original_title.agg('count').sort_values(ascending=False).head(1).index[0]]

# 22. How many films were released in the summer?

In [ ]:

answers['22']=len(data[data['month'].isin([6, 7, 8])])

# 23. For which film director is winter the most productive time of the year?

In [ ]:
answers['23']=data[data['month'].isin([12, 1, 2])].director.value_counts().head(1).index[0]

# 24. Which studio gives the longest titles to its films by the number of characters?

In [ ]:
data['title_length']=data.original_title.apply(lambda x: len(x))
data['studios']=data.production_companies.str.split("|")
data_len=data.explode('studios')
answers['24']=data_len.groupby('studios').title_length.mean().sort_values(ascending=False).head(1).index[0]

# 25. Film descriptions of which studio are on average the longest in terms of word count?

In [ ]:
data['review_len']=data.overview.apply(lambda x: len(x.split()))
data_over=data.explode('studios')
answers['25']=data_over.groupby('studios').review_len.mean().sort_values(ascending=False).head(1).index[0]

# 26. Which films are in the top 1% rated?

In [6]:
data.loc[data['vote_average']>data.quantile(0.99, numeric_only=True)['vote_average']]['original_title']
answers['26']='Inside Out, The Dark Knight, 12 Years a Slave'

# 27. What actors are most often starred together in the same film?

In [14]:
import itertools
import collections
data['sep_cast']=data['cast'].str.split('|')
data_pairs=data['sep_cast'].reset_index()
data_pairs['p_cast']=data_pairs['sep_cast'].apply(lambda s: list(itertools.combinations(s, 2)))
data_pairs = data_pairs.explode('p_cast').reset_index()
answers['27']=collections.Counter(data_pairs['p_cast']).most_common(1)[0][0]

# Submission

In [15]:
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': 110,
 '5': 107.0,
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': 1478,
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': 2015,
 '25': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '27': ('Daniel Radcliffe', 'Rupert Grint'),
 '21': 'September',
 '20': 2014,
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave'}

In [16]:
# и убедиться что ни чего не пропустил)
len(answers)

27